<h1>お仕事編集</h1>
<%= form_for(@item,:url => {:action => :update}) do |f| %>

<h4>選択されていません</h4>
<%= f.attachment_field :image %>

<h4>お仕事名</h4>
<%= f.text_field :item_name %>

<h4>作業内容</h4>
<%= f.text_area :introduction %>

<h4>作業期間</h4>
<%= f.text_field :work_period %>

<h4>時間</h4>
<%= f.text_field :work_time %>

<h4>作業場所</h4>
<%= f.text_field :place %><br>


<%= f.label :people, "募集人数を選択"%>
<%= f.select :people, [1,2,3,4,5,6,7,8,9,10] %><br>


<%= f.label :salary, "時給を選択"%>
<%= f.select :salary, [950,960,970,980,990,1000] %><br>


<%= f.label :payment, "支払い方法を選択"%>
<%= f.select :payment, ['銀行振込'] %><br>


<%= f.submit '変更を保存' %>

<% end %>